p1, td{
	font-size:13px;
	text-transform: capitalize;
}
h3{
	font-size: 50px;
	color: #800080;
	text-transform: capitalize;
}
h2{
	font-size: 50px;
	color: #800080;
	text-align: center;
	text-transform: capitalize;
}
.style{
	text-align: right;
}


.product-image img {
	width: 100%;
	margin-top: 10px;
}
.panel-title{
	text-transform: capitalize;
}
.panel-body{
	color: #3BB2D6;
}