<div class="row">
<div class="col col-md-12">
<div class="well">
<h2>Products</h2>
</div>
</div>
</div>
<div class="container">
<div class="row">
<div class="text-center">
<% if can? :create,@product %>
<button type="button" data-toggle="modal" data-target="#newproduct">
<%= link_to "New Product", new_product_path %>
</button>
<% end %>
</div>
<br>
<br>
<div class="row" id="container-product">
<%= render @products %>
</div>
<%= render 'form' %>